python 3.18.16
pip install bilby==1.1.1
pip install dynesty==1.0.1
pip install numpy=1.19.5
pip install astropy==5.0
pip install pandas==1.4.4
pip install GalDynPsr
pip install galpy==1.8.2
pip install scipy==1.10.1
pip install matplotlib==3.6.3
pip install random
pip install corner==2.2.1
pip install openpyxl==3.1.2
pip install math
pip install SciencePlots